<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.hospital.DAO.IMedicsDAO">
    <resultMap id="MedicsResultMap" type="com.solvd.hospital.bin.Medics" autoMapping="false">
        <id column="idMedics" property="idMedics" />
        <result column="firstName" property="firstName" />
        <result column="lastName" property="lastName" />
        <result column="DoctorOfficeId" property="doctorOfficeId" />
        <result column="RoomId" property="roomId" />
    </resultMap>
    <select id="getObject" parameterType="int" resultMap="MedicsResultMap">
        <![CDATA[
        Select * from Medics where idMedics = ${idMedics};
        ]]>
    </select>

    <select id="getList" resultMap="MedicsResultMap">
        <![CDATA[
        Select * from Medics;
         ]]>
    </select>
    <delete id="delete">
        <![CDATA[
        Delete from Medics where idMedics = ${idMedics};
        ]]>
    </delete>
    <insert id="insert">
        <![CDATA[
        Insert into Medics (idMedics,firstName,lastName,DoctorOfficeId,RoomId)
        Values (${idMedics},"${firstName}","${lastName}",${doctorOfficeId},${roomId});
        ]]>
    </insert>
    <update id="update">
        Update Medics set
        firstName = "${firstName}",
        lastName = "${lastName}",
        DoctorOfficeId = ${doctorOfficeId},
        RoomId = ${roomId}
        where idMedics = ${idMedics};
    </update>
</mapper>