<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource ="db.properties" />
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${pass}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/NursesMapper.xml"/>
        <mapper resource="mappers/AppointmentsMapper.xml"/>
        <mapper resource="mappers/MedicsMapper.xml"/>
        <mapper resource="mappers/PrescriptionMapper.xml"/>
        <mapper resource="mappers/RoomsMapper.xml"/>
    </mappers>
</configuration>
